
.right {
    width: 600px;
    padding-left: 10px;
    padding-top: 20px;
    margin-top: 120px;
    height: 400px;
    float: left;

}

.left {
    width: 450px;
    padding-left:3px;
    padding-top:120px;
    float: left;
    

}

.left1 {
    width: 500px;
    padding-left:3px;
    padding-top:120px;
    float: left;
    

}

.left button {
    display: block;
    color: white;
    padding: 20px 40px;
    cursor: pointer;
    width: 50%;
    margin-left: 70px;
    margin-top: 62px;
    text-align: center;
    
}

.micro button {

    display: block;
    border: 1px solid rgb(143, 189, 145);
    color: white;
    padding: 20px 40px;
    cursor: pointer;
    width: 50%;
    margin-left: 110px;
    margin-top: 62px;
    background-color:rgb(143, 189, 145);
    text-align: center;
}

.video button {

        
    border: 1px solid rgb(67, 100, 172);
    color: white;
    padding: 20px 10px;
    cursor: pointer;
    width: 30%;
    margin-left: 75px;
    margin-top: 10px;
    background-color: rgb(67, 100, 172);  
}

.micro button {

    display: block;
    border: 1px solid rgb(143, 189, 145);
    color: white;
    padding: 20px 40px;
    cursor: pointer;
    width: 50%;
    margin-left: 110px;
    margin-top: 62px;
    background-color:rgb(143, 189, 145);
    text-align: center;
}

.report p 
{
    font-weight: bold;
    font-size: 20px;
}

.slidecontainer {
    width: 100%;
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
  }

 