<!DOCTYPE html>

<html>

    <head>
        <title>Smart-Toilet</title>
        <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
        
        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
    </head>

<body style="background-image:url('../static/pictures/bckg.png');">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    
    <div>
        <p style="font-size: 41px;margin-left: 570px;"><a href="/" style="text-decoration: none;cursor:pointer;color:red;">Smart-Toilet System</p></a>
        <div>

    <div class="top" style="float:top;margin-left:480px;">
        <a href="/run/" style="text-decoration: none;"><button style=" background-color: rgb(143, 189, 145);border: 1px solid rgb(143, 189, 145);color: white;padding: 15px 40px;cursor: pointer;width: 15%;">START</button></a>
        <a href="/stop/" style="text-decoration: none;"><button style=" background-color: rgb(189, 122, 34);border: 1px solid rgb(143, 189, 145);color: white;padding: 15px 40px;cursor: pointer;width: 15%;margin-left: 15px;">STOP</button></a>
        <a id="retrieve" style="text-decoration: none;"><button style="border: 1px solid rgb(67, 100, 172);background-color: rgb(67, 100, 172);color: white;padding: 15px 40px;cursor: pointer;width: 15%;margin-left: 15px;">CAMERA</button></a>
    </div>

    <div>
            <div class="left" style="height:600px;width:860px;">
                <div id="graph" style="height:320px;width:584px;border: 11px solid rgb(216, 69, 69);margin-left:180px;margin-top:-70px;">
                    <img id="image" src="{{url_for('static', filename='pictures/stoilet2.png')}}" usemap="#image-map">
                    <div id="chartContainer" style="height: 370px; width:100%;display: none;"></div>
                </div>

                <div id="picture" style="display:none;height:400px;width:600px;border: 11px solid rgb(216, 69, 69);margin-top:-68px;margin-left:160px;">
                    <!-- <div style="display: inline;"></div> -->
                    <!-- <button id="retrieve" style="margin-top:0px;width:30%;color:white;background-color:rgb(29, 93, 167);">Retreive Photo</button> -->
                    <!-- <button style="width:30%;color:white;background-color:rgb(29, 93, 167);"><a href="Camera.html" style="text-decoration: none;color: white;">Refresh</a></button> -->
                    <!-- </div> -->
                    
                    <img id="img" style="height: 320px;width:400px;margin-left: 43px; margin-top:40px;border: 2px solid white;"></img>
                    
                </div>

            </div>

            <div class="right" style="height:450px;width:393px;border: 11px solid rgb(216, 69, 69);margin-top:48px;">
                <div>
                    <textarea id="console" readonly style="height:467px;width:400px;margin-left:-11px;margin-top:-20px"></textarea>
                </div>

            </div>

    </div>




<map name="image-map">
    <area id="ult1" alt="Ultrasonic1"  href="#" title="Ultrasonic1" coords="43,133,71,107" shape="rect">
    <area id="ult2" alt="Ultrasonic2" title="Ultrasonic2" coords="232,231,202,203" shape="rect">
    <area target="_blank" alt="Camera" title="Camera" href="" coords="227,169,249,147" shape="rect">
    <area target="_blank" alt="Microphone" title="Microphone" href="" coords="350,31,321,7" shape="rect">
    <area target="_blank" alt="Light" title="Light" href="Light_Graph.html" coords="172,3,201,22" shape="rect">
</map>


   
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-storage.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='smart_toilet.js')}}"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
   
    
</body>




</html>